<!-- Start: Hero -->
<div id="hero">
	<div class="q-container">
		<div id="map"></div>
		<div class="box-join simple-half">
			<h2 class="section-headline inverted">{{ site.data.global.title }}<br><br><em>{{ site.data.global.slogan }}</em></h2>
			<p>"We provide a platform through which NGOs, the Government of South Sudan (GRSS), the UN, donors, and other external stakeholders can exchange information, share expertise and establish guidelines for a more networked, efficient and effective use of aid resources in South Sudan through information sharing, networking, representation and communication around safety and wellbeing!"</p>
		</div>
	</div>
</div>
<!-- End: Hero -->

<!-- Start: Calls to action -->
<div id="home-cta">
	<div class="q-container wow animated fadeInDown" data-wow-duration="0.5s">
		<div id="box-donate" class="box box-alt simple-half">
			<h4 class="box-headline">Register as a Member</h4>
			<p><a class="button button-alt button-outline" href="{{ site.data.nav.membership_registration_form }}">Join the many organizations!</a></p>
		</div>
		<div id="box-volunteer" class="box box-alt simple-half">
			<h4 class="box-headline">Report Security Incident</h4>
			<p><a class="button button-alt button-outline" href="{{ site.data.nav.report_security_incident_form }}">let us know of an incident</a></p>
		</div>
	</div>
</div>
<!-- End: Calls to action -->