<!-- Start: Hero -->
<div id="hero">
	<div class="q-container">
		<div class="box-join simple-half">
			<h2 class="section-headline inverted">{{ site.data.global.title }}<br><br><em>{{ site.data.global.slogan }}</em></h2>
		</div>
	</div>
</div>
<!-- End: Hero -->

<!-- Start: Calls to action -->
<div id="home-cta">
	<div class="q-container wow animated fadeInDown" data-wow-duration="0.5s">
		<div id="box-donate" class="box box-alt simple-half">
			<h4 class="box-headline"><a href="{{ site.data.nav.membership_registration_form }}">Register as a Member</a></h4>
			<p><a href="{{ site.data.nav.membership_registration_form }}">join the many organizations!</a></p>
		</div>
		<div id="box-volunteer" class="box box-alt simple-half">
			<h4 class="box-headline"><a href="{{ site.data.nav.report_security_incident_form }}">Report Security Incident</a></h4>
			<p><a href="{{ site.data.nav.report_security_incident_form }}">let us know of events</a></p>
		</div>
	</div>
</div>
<!-- End: Calls to action -->