<!-- Start: Main -->
<main id="main">
	<!-- Start: Article Grid -->
	<div class="section article-grid">
		<div class="q-container">
			<div class="q-row">
				<article class="q-col-1-3 wow animated fadeInUp" data-wow-offset="100" data-wow-duration="1s">
					<div class="article-headline"><h3 class="sub-headline deco-headline"><a href="page-wide.php#demo-tabs-hor1">Security <span>Updates</span></a></h3></div>
					<div class="article-summary">
						<div class="article-image"><a href="page-wide.php#demo-tabs-hor1"><img src="holder.js/holder.js/400x225" alt="Security Updates"></a></div>
						<p>Collection, analysis and sharing of NGO related security information..</p>
						<p><a href="page-wide.php#demo-tabs-hor1" class="button button-alt button-outline">Read More</a></p>
					</div>
				</article>
				<article class="q-col-1-3 wow animated fadeInUp" data-wow-offset="200" data-wow-duration="1s">
					<div class="article-headline"><h3 class="sub-headline deco-headline"><a href="page-wide.php#demo-tabs-hor2">Humanitarian <span>Coordination</span></a></h3></div>
					<div class="article-summary">
						<div class="article-image"><a href="page-wide.php#demo-tabs-hor2"><img src="holder.js/holder.js/400x225" alt="Humanitarian Coordination"></a></div>
						<p>Facilitating engagement between NGOs and other humanitarian actors in South Sudan.</p>
						<p><a href="page-wide.php#demo-tabs-hor2" class="button button-alt button-outline">Read More</a></p>
					</div>
				</article>
				<article class="q-col-1-3 wow animated fadeInUp" data-wow-offset="300" data-wow-duration="1s">
					<div class="article-headline"><h3 class="sub-headline deco-headline"><a href="page-wide.php#demo-tabs-hor3">Policy <span>&amp; Advocacy</span></a></h3></div>
					<div class="article-summary">
						<div class="article-image"><a href="page-wide.php#demo-tabs-hor3"><img src="holder.js/holder.js/400x225" alt="Policy &amp; Advocacy"></a></div>
						<p>Developing policy briefings and identifying focus areas for advocacy that are consistent with the interests of the Forum members.</p>
						<p><a href="page-wide.php#demo-tabs-hor3" class="button button-alt button-outline">Read More</a></p>
					</div>
				</article>
			</div>
			<div class="q-row">
				<article class="q-col-1-3 wow animated fadeInUp" data-wow-offset="200" data-wow-duration="1s">
					<div class="article-headline"><h3 class="sub-headline deco-headline"><a href="page-wide.php#demo-tabs-hor2">Information <span>Management</span></a></h3></div>
					<div class="article-summary">
						<div class="article-image"><a href="page-wide.php#demo-tabs-hor2"><img src="holder.js/holder.js/400x225" alt="Information Management"></a></div>
						<p>Gathering information from, and dissemination to NGOs to support improved collective decision making and evidence-based advocacy.</p>
						<p><a href="page-wide.php#demo-tabs-hor2" class="button button-alt button-outline">Read More</a></p>
					</div>
				</article>			
				<article class="q-col-1-3 wow animated fadeInUp" data-wow-offset="100" data-wow-duration="1s">
					<div class="article-headline"><h3 class="sub-headline deco-headline"><a href="page-wide.php#demo-tabs-hor1">NNGO <span>State Coordination</span></a></h3></div>
					<div class="article-summary">
						<div class="article-image"><a href="page-wide.php#demo-tabs-hor1"><img src="holder.js/holder.js/400x225" alt="NNGOs State Coordination"></a></div>
						<p>Enabling South Sudanese National NGO growth and enhancing coordination among National NGOs and between National NGOs and other actors.</p>
						<p><a href="page-wide.php#demo-tabs-hor1" class="button button-alt button-outline">Read More</a></p>
					</div>
				</article>
				<article class="q-col-1-3 wow animated fadeInUp" data-wow-offset="300" data-wow-duration="1s">
					<div class="article-headline"><h3 class="sub-headline deco-headline"><a href="page-wide.php#demo-tabs-hor3">NNGO <span>Capacity Building</span></a></h3></div>
					<div class="article-summary">
						<div class="article-image"><a href="page-wide.php#demo-tabs-hor3"><img src="holder.js/holder.js/400x225" alt="NNGO Capacity Building"></a></div>
						<p>The NGO Forum is committed to the development and capacity building of Local NGOs through the existence of a specialized Local NGO Forum as well as engagement with INGOs and donors to this end.</p>
						<p><a href="page-wide.php#demo-tabs-hor3" class="button button-alt button-outline">Read More</a></p>
					</div>
				</article>
			</div>
		</div>
	</div>
	<!-- End: Article Grid -->

	<!-- Start: Social Updates -->
	<div class="section social-updates">
		<div class="q-container">
			<div class="q-row">
				<div class="q-col-1-3">
					<h2 class="section-headline wow animated fadeInLeft" data-wow-offset="100" data-wow-duration="0.5s">Testimonials</h2>
					<ul class="social-profiles">
						<li><a href="#" class="social-button social-facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="social-button social-twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					</ul>
				</div>
				<div class="q-col-2-3 wow animated fadeInUp" data-wow-duration="0.5s" data-wow-offset="200">
					<div id="social-slider" class="simple-slider">
					{% for testimony in site.data.testimonials %}
						<div class="simple-slide">	
							<div class="social-update">
								{{ testimony.description }}
								<a href="#">{{ testimony.email }}</a>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End: Social Updates -->	
</main>