{% assign navurl = page.url | remove: 'index.html' %}
<ul>
{% for link in include.nav %}
	<li{% if page.url == link.url %} class="active" {% endif %}>
		{% if link.url contains 'http://' %}
			{% assign pageurl = link.url %}
		{% elsif link.subitems %}
			{% assign pageurl = "#" %}
		{% else %}
			{% assign pageurl =  link.url | prepend:site.baseurl  %}
		{% endif %}
		<a href="{{ pageurl }}">{{ link.text }}</a>
    	{% if include.children and link.subitems %}
    		{% include nav.html nav=link.subitems %}
    	{% endif %}
    </li>
{% endfor %}
</ul>